{% extends "../default.html" %}
<html>
  <head>
    <title> {% block title %} Blog {% endblock %} </title>
    {% block head %}
    <link rel="stylesheet" type="text/css" href="/css/SubcoreJBStyle.css"/>
    <script src="https://code.jquery.com/jquery-3.1.1.js"> </script>
    <script src="/js/Basic Functionality.js"> </script> 
    {% endblock %}
  </head>
<body> {% block content %}
<div class="row">
  <div class="leftcolumn">
  
    <div class="clickDiv card" data-href="/Entry/11.html">
      <h2> Hit the Damn Corner! </h2>
      <h5> </h5>
      <p>  </p>
    </div>
    
    <div class="clickDiv card" data-href="/Entry/12.html">
      <h2> Hey there, Doc! </h2>
      <h5> </h5>
      <p>  </p>
    </div>
    
    <div class="clickDiv card" data-href="/Entry/13.html">
      <h2>  </h2>
      <h5> </h5>
      <p>  </p>
    </div>
    
    <div class="clickDiv card" data-href="/Entry/14.html">
      <h2>  </h2>
      <h5> </h5>
      <p>  </p>
    </div>
    
    <div class="clickDiv card" data-href="/Entry/15.html">
      <h2>  </h2>
      <h5> </h5>
      <p>  </p>
    </div>
  </div>
  
  <div class="rightcolumn">  
    <div class="card">
     <h3> Welcome to My Blog </h3>
      <p> Here you'll find commentary on various projects and assignments. This is more of a way to document my journey into CS.</p>
      <a class="btn" href="/Sub/BlogOverview.html"> View All Entries </a>
    </div> 
    
    <div class="clickDiv card" data-href="/Projects/Yatogami.html">
      <h3> Project Example </h3>
       <p>  </p>
    </div>
    
    <div class="card">
      <h3>Twitter Activity</h3>
      <blockquote class="twitter-tweet" data-lang="en">
       <p lang="ca" dir="ltr">Hi I exist</p>&mdash; theycallmemarana (@MaranaHimself) 
        <a href="https://twitter.com/MaranaHimself/status/1161627324548358144?ref_src=twsrc%5Etfw">August 14, 2019</a>
      </blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>
</div>
<div class="pagination">
  <a href="/Sub/JBPortalOld.html">&laquo;</a>
  <a href="/Sub/Blog.html">1</a>
  <a href="/Sub/Blog02.html">2</a> 
  <a class="active" href="#">3</a> 
  <a href="Sub/Blog04.html">4</a>
  <a href="Sub/JBPortalNew.html">&raquo;</a>
</div>
{% endblock %}
</body>
</html>
