{% extends "../default.html" %}
<html>
  <head>
    <title> {% block title %} Blog {% endblock %} </title>
    {% block head %}
    <link rel="stylesheet" type="text/css" href="/css/SubcoreJBStyle.css"/>
    <script src="https://code.jquery.com/jquery-3.1.1.js"> </script>
    <script src="/js/Basic Functionality.js"> </script> 
    {% endblock %}
  </head>
<body> {% block content %}
<div class="row">
  <div class="leftcolumn">
    <div class="clickDiv CSAP card" data-href="/Entry/06.html">
      <h2> How a Computer is Set-up </h2>
      <h5> September 27th, 2019 </h5>
      <p> Bunin's frequent trouble-shooting problem that his students ask him is..."My computer isn't turning on!" "My screen's black." "I plugged
      the cables in and I turned on the monitor but nothing's happeneing!" So he had us "learn" how to set up a computer. By removing every cable
      in the computers in the school's lab and plugging them back in shortly after. </p>
    </div>
    
    <div class="clickDiv CSAP card" data-href="/Entry/07.html">
      <h2> Spaceship Adventure Processing </h2>
      <h5> October 2nd 2019 </h5>
      <p> Another pair-programming excercise again but with Processing.
        Bunin forced us to follow a pre-existing sketch of a total of ten steps. Going over how to make a simple spaceship, shape by shape. 
        My program is simply to render that pre-existing sketch in my own written code.  </p>
    </div>
    
    <div class="clickDiv CSAP card" data-href="/Entry/08.html">
      <h2> The Eclipse Super Star Destroyer! </h2>
      <h5> October 7th 2019 </h5>
      <p> In the past two weeks, over in the weekend I booted up Steam and decided to play a select-few of my Steam games I ever played ever. One of those was Empire at War and oh boy, it was
       amazing. I enjoyed every second of it. Empire at War is a . I just loved seeing the diverse ships from the iconic TIEs to the Victory-class Star Destroyer and B-Wings, the fact that it still had Legends
       content felt unreal too... </p>
    </div>
    
      <div class="clickDiv CSAP card" data-href="/Entry/09.html">
      <h2> Arrow Robot on Grid </h2>
      <h5> October 15th 2019</h5>
      <p> Quick Pair Programming excercise, this time we had to make a program that'll be able to solve mazes. There were different levels to this, and each level can be accessed through different means. </p>
    </div>
    
      <div class="clickDiv CSAP card" data-href="/Entry/10.html">
      <h2> Binary Converter </h2>
      <h5> October 22nd 2019 </h5>
      <p> Another pair programming excercise, our goal was to make a interactive Binary converter on Scratch based off a pre-existing model provided by the insturctor.  </p>
    </div>
  </div>
  
  <div class="rightcolumn">  
    <div class="card">
     <h3> Welcome to My Blog </h3>
      <p> Here you'll find commentary on various projects and assignments. This is more of a way to document my journey into CS.</p>
      <a class="btn" href="/Sub/BlogOverview.html"> View All Entries </a>
    </div> 
    
    <div class="clickDiv card" data-href="/Projects/Yatogami.html">
      <h3> Project Example </h3>
       <p>  </p>
    </div>
    
    <div class="card">
      <h3>Twitter Activity</h3>
      <blockquote class="twitter-tweet" data-lang="en">
       <p lang="ca" dir="ltr">Hi I exist</p>&mdash; theycallmemarana (@MaranaHimself) 
        <a href="https://twitter.com/MaranaHimself/status/1161627324548358144?ref_src=twsrc%5Etfw">August 14, 2019</a>
      </blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>
</div>
<div class="pagination">
  <a href="/Sub/JBPortalOld.html">&laquo;</a>
  <a href="/Sub/Blog.html">1</a>
  <a class="active" href="#">2</a> 
  <a href="/Sub/Blog03.html">3</a> 
  <a href="/Sub/Blog04.html">4</a>
  <a href="/Sub/JBPortalNew.html">&raquo;</a>
</div>
{% endblock %}
</body>
</html>
