{% extends "../default.html" %}
<html>
  <head>
    <title> {% block title %} Blog Overview {% endblock %} </title>
    {% block head %}
    <link rel="stylesheet" type="text/css" href="/css/SubcoreJBStyle.css"/>
    <script src="https://code.jquery.com/jquery-3.1.1.js"> </script>
    <script src="/js/Basic Functionality.js"> </script> 
    {% endblock %}
  </head>
<body> {% block content %} 
<div class="row">
  <div class="leftcolumn">
    
    <div class="card">
      <h2> Hello there! </h2>
      <p>  </p>
    </div>
    
    <div class="clickDiv DevChoice Solo card" data-href="/Entry/00.html">
      <h2> Entry 00: My Website/Portfolio </h2>
      <h5> September 17th, 2019</h5>
      <p> You're looking at it. This website is what I'm working towards perfecting or at least close enough to perfecting. I have so many ideas I wanna make
      I'm planning on even buying a proper domain name for this eventually once I'm on my own two feet eventually. It's the kind of project that hooks me on because of the
      endless possiblities. I'm extremely ambitous on this one and I'm hoping to have this project grow as I grow. </p>
    </div>
    
    <div class="clickDiv CSAP card" data-href="/Entry/01.html" >
      <h2> Entry 01: Binary, Hex and Base 10 Table </h2>
      <h5> September 8th, 2019</h5>
      <p> Simple yet somewhat effective refresher on getting back to coding for Bunin's CS AP class at AFSE. It's been awhile since I touched HTML so 
      it was a welcomed project. Though nothing accelerating or really something to write home about. We were somewhat introduced to number systems, though honestly
      the lesson plan is kinda janked and it isn't at all informative on what Binary/Hex/Ten was, at the beginning of the lesson plan. </p>
    </div>
    
    <div class="clickDiv CSAP card" data-href="/Entry/02.html">
      <h2> Entry 02: Technological Innovations </h2>
      <h5> September 15th, 2019</h5>
      <p> Our teacher had us pair in groups and read pre-selected articles on Technological Innovations. Self-driving Automobiles, Swarm Drones
      in Warfare, Pet Robots and Cryptocurrency and summarize what we read. Moments like these make me question what class I'm really in. </p>
    </div>
    
    <div class="clickDiv CSAP card" data-href="/Entry/03.html">
      <h2> Entry 03: Plastic Straw Bridge </h2>
      <h5> September 19th, 2019</h5>
      <p> We shall take a moment of silence, to remember all the unnecessary harmful plastic straws that was bought by our teacher
      that have made their way into the ocean and polluted our great waters. Rest in peace sea-life. Even though this is a "computer science class"
      our teacher had us make the longest straw bridge possible out of...plastic straws. The fact this even got approved is questionable, this 
      has in my opinion little to do with actual coding. I guess this activity was planned to encourage teamwork and communication? Can't think 
      of anything else.</p>
    </div>
    
    <div class="clickDiv CSAP card" data-href="/Entry/04.html">
      <h2> Entry 04: Array Schedule </h2>
      <h5> September 23rd, 2019</h5>
      <p> Another simple project that I kinda question the point to sometimes nonetheless...it was a Driver and Navigator format, as some of my readers know (hopefully lol) I had a 
       a similar experience back to the "first" entry <a href="Entry01.html"> Binary, Hex and Base 10 Table </a>. For this project we were told to do a Driver-Navigator approach
       to making a schedule made of a bunch of arrays. </p>
    </div>
    
    <div class="clickDiv CSAP card" data-href="/Entry/05.html">
      <h2> Entry 05: Technological Innovations II </h2>
      <h5> September 24th, 2019</h5>
      <p> We had an option to research from a select four choices of articles that all talk about different computer innovations. I had researched two "interesting" articles 
      that has been laid out for me and my class. I chose Augmented Reality because I am very well interested in how AR will impact the future, and I chose Biometrics for the
      next article because I'm someone who's very concerned over Biometrics. And the poenital for abuse and privacy issues.</p>
    </div>
    
    <div class="clickDiv CSAP card" data-href="/Entry/06.html">
      <h2> Entry 06: How a Computer is Set-up </h2>
      <h5> September 27th, 2019</h5>
      <p> Bunin's frequent trouble-shooting problem that his students ask him is..."My computer isn't turning on!" "My screen's black." "I plugged
      the cables in and I turned on the monitor but nothing's happeneing!" So he had us "learn" how to set up a computer. By removing every cable
      in the computers in the school's lab and plugging them back in shortly after. </p>
    </div>
    
    <div class="clickDiv CSAP card" data-href="/Entry/07.html">
      <h2> Entry 07: Spaceship Adventure Processing </h2>
      <h5> October 2nd 2019 </h5>
      <p> Another pair-programming excercise again but with Processing.
        Bunin forced us to follow a pre-existing sketch of a total of ten steps. Going over how to make a simple spaceship, shape by shape. 
        My program is simply to render that pre-existing sketch in my own written code.  </p>
    </div>
    
    <div class="clickDiv DevChoice CSAP card" data-href="/Entry/08.html">
      <h2> Entry 08: The Eclipse Super Star Destroyer! </h2>
      <h5> October 7th 2019 </h5>
      <p> In the past two weeks, over in the weekend I booted up Steam and decided to play a select-few of my Steam games I ever played ever. One of those was Empire at War and oh boy, it was
       amazing. I enjoyed every second of it. Empire at War is a . I just loved seeing the diverse ships from the iconic TIEs to the Victory-class Star Destroyer and B-Wings, the fact that it still had Legends
       content felt unreal too... </p>
    </div>
    
    <div class="clickDiv CSAP card" data-href="/Entry/09.html">
      <h2> Entry 09: Arrow Robot on Grid </h2>
      <h5> October 15th 2019</h5>
      <p> Quick Pair Programming excercise, this time we had to make a program that'll be able to solve mazes. There were different levels to this, and each level can be accessed through different means. </p>
    </div>
    
    <div class="clickDiv CSAP card" data-href="/Entry/10.html">
      <h2> Entry 10: Binary Converter </h2>
      <h5> October 22nd 2019 </h5>
      <p> Another pair programming excercise, our goal was to make a interactive Binary converter on Scratch based off a pre-existing model provided by the insturctor.  </p>
    </div>
    
    <div class="clickDiv DevChoice CSAP card" data-href="/Entry/11.html">
      <h2> Entry 11: Hit the Damn Corner! </h2>
      <h5> October 25th 2019 </h5>
      <p> A small-quick program in Scratch of a DVD screensaver, and two people complaining endlessly about their pain and their need for the DVD to hit the corner. </p>
    </div>
  </div>
  
  <div class="rightcolumn">  
    <div class="card">
      <a class="btn IntroCSFilter"   href="javascript:alert('Intro to CS tagged Entries have been elimnated!');">        Intro to CS (2018/2019)        </a>
      <a class="btn CSAPFilter"      href="javascript:alert('CS AP tagged Entries have been elimnated!');">              Advanced Placement (2019/2020) </a>
      <a class="btn SoloFilter"      href="javascript:alert('Pet Projects tagged Entries have been elimnated!');">       Personal Pet Projects </a>
      <a class="btn DevChoiceFilter" href="javascript:alert('Developer's Choice tagged Entries have been elimnated!');"> Developer's Choice    </a>
      <a class="btn PublishedFilter" href="javascript:alert('Published Projects tagged Entries have been elimnated!');"> Published Projects    </a>
    </div> 
    <div class="card">
      <h3> Project Post </h3>
       <p> (Placeholder): Something something, for a project. </p>
    </div>
    <div class="card">
      <h3>Twitter Activity</h3>
      <blockquote class="twitter-tweet" data-lang="en"><p lang="ca" dir="ltr">Hi I exist</p>&mdash; theycallmemarana (@MaranaHimself) <a href="https://twitter.com/MaranaHimself/status/1161627324548358144?ref_src=twsrc%5Etfw">August 14, 2019</a></blockquote>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>
</div>

  <!--- Entry Classes: Intro to CS (AFSE 2018/2019), CS AP (AFSE 2019/2020), Personal/Solo, Developer's Choice, Published --->
                   <!--- "IDs"/Classes: "IntroCS" "CSAP" "Solo" "DevChoice" "Published" --->
<script>     
  
   /* Clickable Div(s) *//* ClickDiv */
  $(".clickDiv").click(function(){
    location.href = $(this).attr("data-href");
  });
  
    /* Intro to Computer Science */
  $(document).ready(function(){
  $(".IntroCSFilter").click(function(){
    $(".IntroCS").toggle();
  });

  
    /* Computer Science Advanced Placement */
  $(".CSAPFilter").click(function(){
    $(".CSAP").toggle();
  });
  
     /* Personal/Solo */
  $(".SoloFilter").click(function(){
    $(".Solo").toggle();
  });

  
    /* Published */
  $(".PublishedFilter").click(function(){
    $(".Published").toggle();
  });

    /* Developer's Choice */
  $(".DevChoiceFilter").click(function(){
    $(".DevChoice").toggle();
  });
  
  /* JQUERY COMMENTARY:
  Oh my god, it finally works. Below is a template of what I originally did that got it working.
  For the button you have to make sure it has whatever class is in the second line and for what you want
  hidden to have the class in the third line. You can change toggle to hide or show. Toggle hides AND shows, hide is hidden until it is
  shown by a seperate "function" and same goes for show but by default is should be shown so pretty useless in that case.
  
  $(document).ready(function(){
  $(".SoloFilter").click(function(){
    $(".Solo").toggle();
  });
  */
}); 
  
</script> 
{% endblock %}
</body>
</html>
