{% extends "../default.html" %}
<html>
  <head>
    <title> {% block title %} Contact Me {% endblock %} </title>
    {% block head %}
    <link rel="stylesheet" type="text/css" href="/css/Entry Style.css" />
    {% endblock %}
  </head>
  <body>
    {% block content %}
    <div class="row">
      <div class="leftcolumn">
        <div class="card">
          <h2> Acknowledgements </h2>

          <!--- <img align="top" width = "950" height = "600" src=
       "https://cdn.glitch.com/09da7f12-a63f-40b7-96fc-c11f11027f60%2FThe%20Indexer.png?v=1569213168827" 
        alt="Test">   
      <h4 align= "center">  </h4> --->

          <!--- Project Information --->
          <p align="left"> <b> Thanks for... </b></p>
          <p align="left"> </p>
          <p align="left"> </p>

          <p> </p>
          <br />

          <br />
          <br />
          <br />
        </div>
      </div>

      <div class="rightcolumn">
        <div class="card">
          <h2></h2>
          <div class="fakeimg" style="height:100px;">Image</div>
          <br />
          <a href="mailto:firstincommand111@gmail.com">Email Me</a>
        </div>
        <div class="card">
          <h3>Popular Post</h3>
          <p>
            Why, hello there!
          </p>
        </div>
        <div class="card">
          <h3>Follow Me</h3>
          <p>Some text..</p>
        </div>
      </div>
    </div>
    {% endblock %}
  </body>
</html>
