{% extends "../default.html" %}
<html>
  <head>
    <title> {% block title %} Blog {% endblock %} </title>
    {% block head %}
    <link rel="stylesheet" type="text/css" href="/css/SubcoreJBStyle.css" />
    {% endblock %}
  </head>
  <body>
    {% block content %}
    <div class="row">
      <div class="leftcolumn">
        <div class="card">
          <h2> <a href="/Entry/06"> "How a Computer is Set-up" </a> </h2>
          <h5> September 27th, 2019</h5>
          <p>
            Bunin's frequent trouble-shooting problem that his students ask him is..."My computer
            isn't turning on!" "My screen's black." "I plugged the cables in and I turned on the
            monitor but nothing's happeneing!" So he had us "learn" how to set up a computer. By
            removing every cable in the computers in the school's lab and plugging them back in
            shortly after.
          </p>
        </div>

        <div class="card">
          <h2> <a href="/Entry/07"> "Spaceship Adventure" Processing </a> </h2>
          <h5> October 2nd 2019 </h5>
          <p>
            Another pair-programming exercise again but with Processing. Bunin forced us to follow a
            pre-existing sketch of a total of ten steps. Going over how to make a simple spaceship,
            shape by shape. My program is simply to render that pre-existing sketch in my own
            written code.
          </p>
        </div>

        <div class="card">
          <h2> <a href="/Entry/08"> The Eclipse Super Star Destroyer! </a> </h2>
          <h5> October 7th 2019 </h5>
          <p>
            In the past two weeks, over in the weekend I booted up Steam and decided to play a
            select-few of my Steam games I ever played ever. One of those was Empire at War and oh
            boy, it was amazing. I enjoyed every second of it. Empire at War is a . I just loved
            seeing the diverse ships from the iconic TIEs to the Victory-class Star Destroyer and
            B-Wings, the fact that it still had Legends content felt unreal too...
          </p>
        </div>

        <div class="card">
          <h2> <a href="/Entry/09"> Scratch: "Arrow Robot on Grid" </a> </h2>
          <h5> October 15th 2019</h5>
          <p> </p>
        </div>

        <div class="card">
          <h2> <a href="/Entry/10"> 10 </a> </h2>
          <h5> </h5>
          <p> </p>
        </div>
      </div>
      <div class="rightcolumn">
        <div class="card">
          <h2>About Me</h2>
          <div class="fakeimg" style="height:100px;">Image</div>
          <br />
          <a href="mailto:firstincommand111@gmail.com">Email Me</a>
        </div>
        <div class="card">
          <h3>Popular Post</h3>
          <p>
            Why, hello there!
          </p>
        </div>
        <div class="card">
          <h3>Twitter Activity</h3>
          <blockquote class="twitter-tweet" data-lang="en"
            ><p lang="ca" dir="ltr">Hi I exist</p>&mdash; theycallmemarana (@MaranaHimself)
            <a
              href="https://twitter.com/MaranaHimself/status/1161627324548358144?ref_src=twsrc%5Etfw"
              >August 14, 2019</a
            ></blockquote
          >
          <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>
    </div>
    <div class="pagination">
      <a href="/Subcore/JournalBlog01">&laquo;</a>
      <a href="/Subcore/JournalBlog">1</a>
      <a class="active" href="/Subcore/JournalBlog02">2</a>
      <!---  <a href="/Subcore/JournalBlog03">3</a>
  <a href="/Subcore/JournalBlog04">4</a>
  <a href="/Subcore/JournalBlog05">5</a>
  <a href="/Subcore/JournalBlog06">6</a> --->
      <a href="/Subcore/JournalBlog02">&raquo;</a>
    </div>
    {% endblock %}
  </body>
</html>
