{% extends "default.html" %}

<html>
  <head>
    {% block head %}
    <title> {% block title %} Portfolio {% endblock %} </title>
    <link rel="stylesheet" type="text/css" href="/css/CorePortfolioStyle.css" />
    {% endblock %}
  </head>
  <body>
    {% block content %}
    <!--- Regarding the slideshow, I think it'd be best to start over with your *own* slideshow. This way you know every single 
line of code thoroughly. Plus it'd give more credit to me then W3Schools overall. For now however, I'm going to make the slideshow
(which isn't active anyways) hidden for now. You should also aim to make the slides fully automatic
    <div class="container">
      <div class="mySlides">
        <div class="numbertext">1 / 6</div>
        <img
          src="https://cdn.glitch.com/09da7f12-a63f-40b7-96fc-c11f11027f60%2F-w-.jpg?v=1569343080954"
          style="width:100%"
        />
      </div>
      <div class="mySlides">
        <div class="numbertext">2 / 6</div>
        <img
          src="https://cdn.glitch.com/09da7f12-a63f-40b7-96fc-c11f11027f60%2F-w-.jpg?v=1569343080954"
          style="width:100%"
        />
      </div>
      <div class="mySlides">
        <div class="numbertext">3 / 6</div>
        <img
          src="https://cdn.glitch.com/09da7f12-a63f-40b7-96fc-c11f11027f60%2F-w-.jpg?v=1569343080954"
          style="width:100%"
        />
      </div>
      <div class="mySlides">
        <div class="numbertext">4 / 6</div>
        <img
          src="https://cdn.glitch.com/09da7f12-a63f-40b7-96fc-c11f11027f60%2F-w-.jpg?v=1569343080954"
          style="width:100%"
        />
      </div>
      <div class="mySlides">
        <div class="numbertext">5 / 6</div>
        <img
          src="https://cdn.glitch.com/09da7f12-a63f-40b7-96fc-c11f11027f60%2F-w-.jpg?v=1569343080954"
          style="width:100%"
        />
      </div>
      <div class="mySlides">
        <div class="numbertext">6 / 6</div>
        <img
          src="https://cdn.glitch.com/09da7f12-a63f-40b7-96fc-c11f11027f60%2F-w-.jpg?v=1569343080954"
          style="width:100%"
        />
      </div>
      <a class="prev" onclick="plusSlides(-1)"> ❮ </a>
      <a class="next" onclick="plusSlides( 1)"> ❯ </a>

      <div class="row">
        <div class="column">
          <img
            class="demo cursor"
            src="https://cdn.glitch.com/09da7f12-a63f-40b7-96fc-c11f11027f60%2F-w-.jpg?v=1569343080954"
            style="width:100%"
            onclick="currentSlide(1)"
            alt="OwO"
          />
        </div>
        <div class="column">
          <img
            class="demo cursor"
            src="https://cdn.glitch.com/09da7f12-a63f-40b7-96fc-c11f11027f60%2F-w-.jpg?v=1569343080954"
            style="width:100%"
            onclick="currentSlide(2)"
            alt="UwU"
          />
        </div>
        <div class="column">
          <img
            class="demo cursor"
            src="https://cdn.glitch.com/09da7f12-a63f-40b7-96fc-c11f11027f60%2F-w-.jpg?v=1569343080954"
            style="width:100%"
            onclick="currentSlide(3)"
            alt="=w="
          />
        </div>
        <div class="column">
          <img
            class="demo cursor"
            src="https://cdn.glitch.com/09da7f12-a63f-40b7-96fc-c11f11027f60%2F-w-.jpg?v=1569343080954"
            style="width:100%"
            onclick="currentSlide(4)"
            alt="-w-"
          />
        </div>
        <div class="column">
          <img
            class="demo cursor"
            src="https://cdn.glitch.com/09da7f12-a63f-40b7-96fc-c11f11027f60%2F-w-.jpg?v=1569343080954"
            style="width:100%"
            onclick="currentSlide(5)"
            alt="^w^"
          />
        </div>
        <div class="column">
          <img
            class="demo cursor"
            src="https://cdn.glitch.com/09da7f12-a63f-40b7-96fc-c11f11027f60%2F-w-.jpg?v=1569343080954"
            style="width:100%"
            onclick="currentSlide(6)"
            alt=".w."
          />
        </div>
      </div>
    </div>
    Slideshow is disabled for better viewing experience, not like the thing was active anyways.--->
    <br />
    <hr size="12" /> <br />
    <br />
    <br />
    <div class="card">
      <h2> Project Highlights </h2>
      <p>
        Here will go four project highlights I want emphasised. Could be traditional projects or
        dev/mod teams I've been in
      </p>
    </div>
    <button class="pagebutton"> Experimental Dropdown Button </button>

    <br />
    <br />
    <div class="card">
      <h2> <a href="/Subcore/JournalBlog.html"> Projects List </a> </h2>
      <h5> August 8th, 2008</h5>
      <p>
        Here will be a initally three projects side by side with a dropdown button. Not actually a
        dropdown button, but will open a different page, a overview of every project I've done.
      </p>
    </div>
    <br />
    <hr size="3" /> <br />
    <!--- With each HR tag Im hoping to add a expand section that'll open up two more cards --->
    <div class="card">
      <h2> <a href="/Entry/00.html"> Programs/Languages </a> </h2>
      <h5> September 17th, 2019</h5>
      <p>
        add bars to show your experience in each and stuff. this is just placeholder text
        (obviously) the collapsible button below should be a clickable link with animation that'll
        send you to a page of the
      </p>
    </div>
    <br />
    <hr size="3" /> <br />
    <!--- With each HR tag Im hoping to add a expand section that'll open up two more cards --->

    <!--- I was thinking of making the quotes, not side by side or in a typical list order. But more of a "quoteshow", basically
  a slideshow but with quotes. This would also go in nicely with the quote generator you wanted to get up in running. --->

    <div class="card">
      <div class="numbertext">1 / 6</div>
      <div class="numbertext">2 / 6</div>
      <div class="quote">
        <img
          src="https://cdn.glitch.com/09da7f12-a63f-40b7-96fc-c11f11027f60%2FB1%20Sweats.png?v=1568569240107"
          alt="Avatar"
          style="width:90px"
        />
        <p> <span> B1-Battledroid </span> - Infantry Unit in CIS Ground Forces.</p> <br />
        <i>"Roger Roger."</i>
      </div>
    </div>

    <div class="card">
      <div class="quote">
        <img
          src="https://cdn.glitch.com/09da7f12-a63f-40b7-96fc-c11f11027f60%2FB1%20Sweats.png?v=1568569240107"
          alt="Avatar"
          style="width:90px"
        />
        <p> <span> B2-Super Battledroid </span> - Enforcer Infantry Unit in CIS Ground Forces.</p>
        <br />
        <i>"Roger Roger."</i>
      </div>
    </div>

    <div class="card">
      <div class="quote">
        <img
          src="https://cdn.glitch.com/09da7f12-a63f-40b7-96fc-c11f11027f60%2FB1%20Sweats.png?v=1568569240107"
          alt="Avatar"
          style="width:90px"
        />
        <p> <span> B1-Battledroid </span> - Infantry Unit in CIS Ground Forces.</p> <br />
        <i>"Roger Roger."</i>
      </div>
    </div>

    <script>
      var slideIndex = 1;
      showSlides(slideIndex);
      function plusSlides(n) {
        showSlides((slideIndex += n));
      }
      function currentSlide(n) {
        showSlides((slideIndex = n));
      }
      function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("demo");
        var captionText = document.getElementById("caption");
        if (n > slides.length) {
          slideIndex = 1;
        }
        if (n < 1) {
          slideIndex = slides.length;
        }
        for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
        captionText.innerHTML = dots[slideIndex - 1].alt;
      }
    </script>
    {% endblock %}
  </body>
</html>
