{% extends "default.html" %}

<html>
  <head>
    <title> {% block title %} {% endblock %} </title>
    {% block head %}
    <link rel="stylesheet" href="/css/CoreHomeStyle.css" />
    {% endblock %}
  </head>
  <body>
    {% block content %}
    <!-- DISABLER: NO SLIDESHOW FOW NOW -->
    <!--- Make Slides Automatic --->
    <!-- <div class="container">

      <div class="mySlides">
        <div class="numbertext">1 / 6</div>
        <img
          src="https://cdn.glitch.com/09da7f12-a63f-40b7-96fc-c11f11027f60%2F-w-.jpg?v=1569343080954"
          style="width:100%"
        />
      </div>
      <div class="mySlides">
        <div class="numbertext">2 / 6</div>
        <img
          src="https://cdn.glitch.com/09da7f12-a63f-40b7-96fc-c11f11027f60%2F-w-.jpg?v=1569343080954"
          style="width:100%"
        />
      </div>
      <div class="mySlides">
        <div class="numbertext">3 / 6</div>
        <img
          src="https://cdn.glitch.com/09da7f12-a63f-40b7-96fc-c11f11027f60%2F-w-.jpg?v=1569343080954"
          style="width:100%"
        />
      </div>
      <div class="mySlides">
        <div class="numbertext">4 / 6</div>
        <img
          src="https://cdn.glitch.com/09da7f12-a63f-40b7-96fc-c11f11027f60%2F-w-.jpg?v=1569343080954"
          style="width:100%"
        />
      </div>
      <div class="mySlides">
        <div class="numbertext">5 / 6</div>
        <img
          src="https://cdn.glitch.com/09da7f12-a63f-40b7-96fc-c11f11027f60%2F-w-.jpg?v=1569343080954"
          style="width:100%"
        />
      </div>
      <div class="mySlides">
        <div class="numbertext">6 / 6</div>
        <img
          src="https://cdn.glitch.com/09da7f12-a63f-40b7-96fc-c11f11027f60%2F-w-.jpg?v=1569343080954"
          style="width:100%"
        />
      </div>
      <a class="prev" onclick="plusSlides(-1)"> ❮ </a>
      <a class="next" onclick="plusSlides( 1)"> ❯ </a>

      <div class="row">
        <div class="column">
          <img
            class="demo cursor"
            src="https://cdn.glitch.com/09da7f12-a63f-40b7-96fc-c11f11027f60%2F-w-.jpg?v=1569343080954"
            style="width:100%"
            onclick="currentSlide(1)"
            alt="OwO"
          />
        </div>
        <div class="column">
          <img
            class="demo cursor"
            src="https://cdn.glitch.com/09da7f12-a63f-40b7-96fc-c11f11027f60%2F-w-.jpg?v=1569343080954"
            style="width:100%"
            onclick="currentSlide(2)"
            alt="UwU"
          />
        </div>
        <div class="column">
          <img
            class="demo cursor"
            src="https://cdn.glitch.com/09da7f12-a63f-40b7-96fc-c11f11027f60%2F-w-.jpg?v=1569343080954"
            style="width:100%"
            onclick="currentSlide(3)"
            alt="=w="
          />
        </div>
        <div class="column">
          <img
            class="demo cursor"
            src="https://cdn.glitch.com/09da7f12-a63f-40b7-96fc-c11f11027f60%2F-w-.jpg?v=1569343080954"
            style="width:100%"
            onclick="currentSlide(4)"
            alt="-w-"
          />
        </div>
        <div class="column">
          <img
            class="demo cursor"
            src="https://cdn.glitch.com/09da7f12-a63f-40b7-96fc-c11f11027f60%2F-w-.jpg?v=1569343080954"
            style="width:100%"
            onclick="currentSlide(5)"
            alt="^w^"
          />
        </div>
        <div class="column">
          <img
            class="demo cursor"
            src="https://cdn.glitch.com/09da7f12-a63f-40b7-96fc-c11f11027f60%2F-w-.jpg?v=1569343080954"
            style="width:100%"
            onclick="currentSlide(6)"
            alt=".w."
          />
        </div>
      </div>
    </div> -->
    <!--- Plans to insert expand on scroll short about me right here.
<br> <br> --->
    <div class="card">
      <h2> <a href="/Subcore/JournalBlog.html"> Blog </a> </h2>
      <h5> </h5>
      <p>
        You're looking at it. This website is what I'm working towards perfecting or at least close
        enough to perfecting. I have so many ideas I wanna make I'm planning on even buying a proper
      </p>
      domain name for this eventually once I'm on my own two feet eventually. It's the kind of
      project that hooks me on because of the endless possibilities. I'm extremely ambitious on this
      one and <p> I'm hoping to have this project grow as I grow. </p>
    </div>
    <button class="collapsible">Open Epicness</button>
    <div class="content">
      <h5> August 8th, 2008</h5>
      <p>
        You're he looking at it. This website is what I'm working towards perfecting or at least
        close enough to perfecting. I have so many ideas I wanna make I'm planning on even buying a
        proper
      </p>
      domain name for this eventually once I'm on my own two feet eventually. It's the kind of
      project that hooks me on because of the endless possiblities. I'm extremely ambitous on this
      one and <p> I'm hoping to have this project grow as I grow. </p>
    </div>

    <br />
    <br />
    <div class="card">
      <h2> <a href="/Subcore/JournalBlog.html"> Latest </a> </h2>
      <h5> August 8th, 2008</h5>
      <p>
        You're looking at it. This website is what I'm working towards perfecting or at least close
        enough to perfecting. I have so many ideas I wanna make I'm planning on even buying a proper
        domain name for this eventually once I'm on my own two feet eventually. It's the kind of
        project that hooks me on because of the endless possibilities. I'm extremely ambitous on
        this one and I'm hoping to have this project grow as I grow.
      </p>
    </div>
    <br />
    <hr size="3" /> <br />
    <!--- With each HR tag Im hoping to add a expand section that'll open up two more cards --->
    <div class="card">
      <h2> <a href="/Entry/00.html"> Favorites </a> </h2>
      <h5> September 17th, 2019</h5>
      <p>
        You're looking at it. This website is what I'm working towards perfecting or at least close
        enough to perfecting. I have so many ideas I wanna make I'm planning on even buying a proper
        domain name for this eventually once I'm on my own two feet eventually. It's the kind of
        project that hooks me on because of the endless possiblities. I'm extremely ambitous on this
        one and I'm hoping to have this project grow as I grow.
      </p>
    </div>
    <br />
    <hr size="3" /> <br />
    <!--- With each HR tag Im hoping to add a expand section that'll open up two more cards --->
    <div class="card">
      <h2> <a href="/Entry/00.html"> Big </a> </h2>
      <h5> September 17th, 2019 </h5>
      <p>
        You're looking at it. This website is what I'm working towards perfecting or at least close
        enough to perfecting. I have so many ideas I wanna make I'm planning on even buying a proper
        domain name for this eventually once I'm on my own two feet eventually. It's the kind of
        project that hooks me on because of the endless possibilities. I'm extremely ambitious on
        this one and I'm hoping to have this project grow as I grow.
      </p>
    </div>
    <script>
      var slideIndex = 1;
      showSlides(slideIndex);

      function plusSlides(n) {
        showSlides((slideIndex += n));
      }

      function currentSlide(n) {
        showSlides((slideIndex = n));
      }

      function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("demo");
        var captionText = document.getElementById("caption");
        if (n > slides.length) {
          slideIndex = 1;
        }
        if (n < 1) {
          slideIndex = slides.length;
        }
        for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
        captionText.innerHTML = dots[slideIndex - 1].alt;
      }

      var coll = document.getElementsByClassName("collapsible");
      var i;

      for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
          this.classList.toggle("active");
          var content = this.nextElementSibling;
          if (content.style.maxHeight) {
            content.style.maxHeight = null;
          } else {
            content.style.maxHeight = content.scrollHeight + "px";
          }
        });
      }
    </script>
    {% endblock %}
  </body>
</html>
