{% extends "default.html" %}

<html>
  <head>
    {% block head %}
    <title> {% block title %} About {% endblock %} </title>
    <link rel="stylesheet" type="text/css" href="/css/CoreAboutStyle.css" />
    {% endblock %}
  </head>
  <body>
    {% block content %}
    <img
      align="top"
      width="1883"
      height="800"
      src="https://cdn.glitch.com/09da7f12-a63f-40b7-96fc-c11f11027f60%2F1_K4v3T5GcJVDAxm3IOJ9mQw.jpeg.jpg?v=1569433749537"
      alt="placeholder"
    />
    <div class="topnav white">
      <a href="/Subcore/ContactMe.html" class="hoverzoom"> Contact Me </a>
      <a href="/Subcore/ConnectwithMe.html" class="hoverzoom"> Connect with Me </a>
      <a href="/Subcore/Acknowledgements.html" class="hoverzoom"> Acknowledgements </a>
    </div>
    <br />
    <br />
    <div class="card">
      <h2> <a href="/Subcore/JournalBlog.html"> About Me </a> </h2>
      <h5> August 8th, 2008</h5>
      <p>
        " " insert quote you believe in to look extra professional or something. Being involved in
        the Game/Software Industry has always been a dream and a goal of mine. When I was 11, I was
        mindblown by how in-depth and wide the world of Skyrim was, and ever since I knew I wanted
        to live my life, building worlds and adding depth into these worlds as a Level Designer in
        Bethesda Game Studios.
      </p>

      <h3> Plans and Goals </h3>
      <p>
        Currently I'm hoping to add even more things to my portfolio. Namely, a bunch of Jedi
        Academy/Movie Battles II mods that alot of them will be modelled by me personally. In which
        I'm actually aiming to join
        <a href="https://moviebattles.org/"> the development team that supports the MBII mod </a>
        which is absolutely amazing. And amazingly has been withstanding against the stands of time.
        Actually the base game is even older then me, really says how loved the game is to still
        have a active playerbase. You can find out how that's going on this page in which is purely
        my content for MBII <a href="MBIIShowcase.html"> right here.</a> <br />
      </p>
      <p>
        After that and learning how to make models, I wanna take it a step further and make my own
        Fallout/Skyrim mods, starting off with Fallout 4. Most notably I'm hoping to increase the
        variety of items in the world which will further add depth. It gets old running into two
        hundred year old Abraxo boxes... and once I make my presence in the Fallout/Skyrim modding
        community I'll be aiming to join one of the large development teams for Fallout expansions.
        Such as Fallout Miami, Cascadia, the Fallout One re-master, Capital Wasteland, New Vegas
        etc. I already have plans for what I'm going to do in extreme detail all laid out in a few
        Google Docs to help visualize and manage how this hopefully series of mods will turn out.
      </p>
    </div>
    {% endblock %}
  </body>
</html>
