{% extends "default.html" %}

<html>
  <head>
    <title>{% block title %} Entry {% endblock %}</title>
    {% block head %}
    <link rel="stylesheet" type="text/css" href="/css/Entry Style.css" />
    {% endblock %}
  </head>
  <body>
    {% block content %}
    <div class="row">
      <div class="leftcolumn">
        <div class="card">
          {% block post %} <strong><em>*GASP*</em></strong> this place is forbidden!? {% endblock %}

          <br/><br/><br/>
        </div>
      </div>
    </div> {% endblock %}
  </body>
</html>
