<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="msapplication-starturl" content="/" />
    <meta name="viewport" content="initial-scale=1, width=device-width, viewport-fit=cover" />

    <!-- SEO -->

    <meta name="keywords" content="afse, portfolio, sophomore" />
    <meta name="robots" content="index, follow" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="language" content="English" />
    <meta name="author" content="Oswaldo De Los Santos" />

    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <!-- Theme Colors -->
    <meta name="theme-color" content="#000000" />
    <meta name="apple-mobile-web-app-status-bar-style" content="#000000" />
    <meta name="msapplication-TileColor" content="#000000" />

    <title> Hello There! - {% block title %} Home One {% endblock %} </title>

    <link
      rel="icon"
      href="https://cdn.glitch.com/09da7f12-a63f-40b7-96fc-c11f11027f60%2FB1%20Sweats.png?v=1568569240107"
    />

    <!-- Javascript Libraries -->
    <!-- JQuery -->
    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>

    <!-- CSS Libraries -->
    <!-- Sanitize -->
    <link href="https://unpkg.com/sanitize.css" rel="stylesheet" />

    <!-- Javascript Local -->
    <script src="/js/main.js"></script>

    <!-- CSS Local -->
    <link rel="stylesheet" href="/css/style.css" />

    {% block head %}{% endblock %}
  </head>
  <body>
    {% block body %}
    <p>Missing BODY!</p>
    {% endblock %}
  </body>
</html>
