{% extends "Entry.html" %}

<html>
  <head>
    <title> {% block title %} Issue Tracker {% endblock %}</title>
  </head>
  <body>
    {% block post %}
    <h2></h2>
    <h5></h5>

    <p></p>
    <br />
    <!--- QnA --->
    <h4><b> Missing/Incomplete Pages </b></h4>
    <blockquote>
      <ol>
        <li> </li>
        <p> </p>
      </ol>
    </blockquote>

    <h4><b> Known Buglist </b></h4>
    <blockquote>
      <ol>
        <li> </li>
        <p> </p>

        <li> </li>
        <p> </p>

        <li> </li>
        <p> </p>

        <li> </li>
        <p> </p>

        <li> </li>
        <p> </p>
      </ol>
    </blockquote>

    <h4><b> To Do's </b></h4>
    <blockquote>
      <ol>
        <li>Number Systems Program</li>
        <p>
          "I wanna spice up the look sometime. Maybe make it resemble the look of terminals or
          something, probably add some options for custiomzation once I become experienced enough.
          And actually do the "pro-programmer" way. Once I learn how it'd even look/work I wanna be
          able to add a feature that'll allow you to be able to convert "regular old" numbers like
          47 and get the equailvent to other number systems beyond just ten base, binary and hex.
          This naturally means I'd like to expand to other number systems eventually, if I ever
          learn how and have time for it." Though honestly, seperate from what I said on Entry 02 (I
          think) I doubt I'll do it. I think some kind of universal public template is more up the
          alley.
        </p>

        <li>Acknowledgements</li>
        <p>
          Simple page to display full credits and stuff, whether you actually need it is highly
          questionable since you're planning to re-write anything that isn't yours.
        </p>

        <li> Connect with Me + Contact Me Page </li>
        <p> </p>

        <li> About Page </li>
        <p> </p>

        <li> Portfolio Page </li>
        <p> </p>

        <li> Filter Controls </li>
        <p> </p>

        <li> Search Bar </li>
        <p> </p>

        <li> Portfolio Gallery </li>
        <p> </p>
      </ol>
    </blockquote>
  </body>
</html>
