{% extends "../Entry.html" %}

<html>
  <head>
    <title> {% block title %} Entry 00 {% endblock %} </title>
  </head>
  <body>
    {% block post %}
      <h2> My Website/Portfolio </h2>
      <h5> September 19th, 2019 </h5>

      <!-- Project Information -->
      <p><b> General Overview: </b></p>
      <p>
        You are looking at it. This website is what I'm working towards perfecting or at least close
        enough to perfecting. I have so many ideas I wanna make I'm planning on even buying a proper
        domain name for this eventually once I'm on my own two feet eventually. It's the kind of
        project that hooks me on because of the endless possibilities.
      </p>

      <p>
        I'm extremely ambitious on this one and I'm hoping to have this project grow as I grow. I used
        to have a portfolio (still do, but outdated) for Freshman year in High School. We had to use
        Google Sites and the thing that always bothered me was the lack of creativity, interactivity
        and ingenuity that came from creating five minute webpages. Nearly every Portfolio in Freshman
        class lacked the three because the format was so forced, so linear and I hated that. Even more
        because our class doesn't exactly grade you for any of the three nouns I mentioned earlier.
        Most projects looked carbon copies and discouraged you from expanding on the program and
        making it up to your personalized standards. Obviously because of the time restriction which
        is usually a week or less, and because there was mandatory guidelines you had to do. <br />

        <br />
        <br />

        Wouldn't matter if you made a beautiful original captivating game, if you didn't have "x"
        amount of sprites, you'd be disqualified from receiving a higher grade. Which for a class that
        "focuses" on portfolios, and colleges who <i> would </i> be interested in viewing portfolios.
        In all likelihood they'll find near carbon copies of the same Portfolios from every CS class
        they look at. This portfolio is aiming to be different then the rest in my school just for the
        breath of fresh air and obviously so I can be able to apply to my dream jobs

        <br />
        <br />

        I even made a design layout that I'm planning on further building on or expanding as I
        program, I just needed something that looked clean and that visualized everything/most of the
        things I wanted to make for this website.
        <a
          href = "https://cdn.glitch.com/09da7f12-a63f-40b7-96fc-c11f11027f60%2FHome%20One%20Layout.svg?v=1568783689784"
        >
          Incase you wanna take a look at the original layout design...</a
        >
      </p>

      <br />

      <!-- QnA -->
      <p><b> Q1. </b> "What is your program going to do?"</p>
      <blockquote>
        <b> A1. </b> While most people in my class are likely going to do whatever they can to
        resemble a video game or something near that nature, rather then divide my time on another
        project when I already have this to deal with. I decided to use this portfolio/website/blog
        and to use it for this assignment. Obviously something as long-term as this (because I'll be
        updating very frequently) it'd take a lot of time so <i> for now...</i>. This website will be
        used to be my blog that I'll have to use for the entire year, and likely another. And it'll be
        used to showcase past pet projects from my freshmen year in AFSE.
      </blockquote>

      <p><b> Q2. </b> How will your program work?</p>
      <blockquote>
        <b> A2. </b> Nothing special, it's just HTML, some neat CSS (hopefully) and a few handy
        Javascript-in' but that's about it. Right now, the website is accessed via a Indexer which is
        just a index.html with all the available/near finished/in progress pages on a table. Leading
        to pages like this one! I'm trying to aim for a more professional one, so it'll include full
        social media integrations, slideshows, neat formating etc. None of that 2000s blog kind of
        website where it's just a flat out blank HTML with p tags and the occasional h1 and a bunch of
        colors.
      </blockquote>

      <p>
        <b> Q3. </b> What is one programming problem you ran into? How did you solve the problem?
      </p>
      <blockquote>
        <b> A3. </b> Well, the most recent programming problem was kinda dumb. I was trying to link an
        .html page to another .html page inside a folder using the href tag. I tried numerous times, I
        tried folder/random.html random.html. None of them worked so I decided to go to
        support.glitch.com to see if a user could help out on my shortcoming. While writing my forum
        post, a fellow colleague in the cafe approached me and asked what I was writing. I told and
        asked him if he could look over what I did and after some tinkering, we realized it was a
        naming problem. Rather then Prototype/pro_index.html I wrote Prototype/ pro_index.html
        (Noticed the space there? I didn't.) Deleting the space pro_index helped and solved my
        problem.
      </blockquote>

      <p><b> Q4. </b> What is a algorithm did you create?</p>
      <blockquote>
        <b> A4. </b> Nothing special or worth writing home about at least not yet, the project is
        going to be constantly evolving.
      </blockquote>

      <p><b> Q5. </b> wHeN WiLL yOU FiNiSh?</p>
      <blockquote>
        <b> A5. </b> Never. This is the kind of project that will evolve along with me as I grow and
        everyone grows, either physically, mentally, emotionally or all the above.
      </blockquote>

      <p>
        <b> Q6. </b> What is one programming program you ran into? How did you solve the problem? Part
        II
      </p>
      <blockquote>
        <b> A6. </b> I had one of those infamous naming problems I don't even wanna get into it. I was
        trying to link another CCs worksheet to a html file. Basically what I did was to try and
        organize my project files for once. I made a folder called Entry and put all my entries html
        files there. I then made a .CS file purely for entries. I swear my code was as perfect as it
        could be for some reason my html wasn't linking properly. I went into three hours last night
        looking over my code and trying different things like renaming my .css incase illegal
        characters got in the way. Nothing ever worked.
      </blockquote>
    {% endblock %}
  </body>
</html>
