{% extends "../Entry.html" %}

<html>
  <head>
    <title> {% block title %} Entry 01 {% endblock %} </title>
  </head>
  <body>
    {% block post %}
      <h2> Binary, Hex and Ten Based Table </h2>
      <h5> September 8th, 2019 </h5>

      <!-- Project Information -->
      <p> <b> General Overview: </b></p>
      <p>
        Simple yet somewhat effective refresher on getting back to coding for Bunin's CS AP class at
        AFSE. It's been awhile since I touched HTML so it was a welcomed project. Though nothing
        accelerating or really something to write home about. We were somewhat introduced to number
        systems, though honestly the lesson plan is kinda janked and it isn't at all informative on
        what Binary/Hex/Ten was, at the beginning of the lesson plan. <br />
        <br />
        Anyways, for this project we were told to partner up with the person on the right. A colleague
        which can be found
        <a href = "https://glitch.com/@emmanuelo9910"> here </a> were told to recreate a Binary/Ten/Hex.
        We took turns coding, one would be a Navigator and would tell the other partner, the Driver,
        what to do. And to look over his/her coding in real time. Needless to say the collaboration
        was mutually beneficial, something that I must say is rare these days.
      </p>

      <p>
        Binary is a two-number system, a bunch of ones and zeros and where each digit of the system is
        referenced as a bit
        <i>(0:1:10:11:100:101:110:111:1000:1001:1010:1011:1100:1101:1111:10000:10001:10010). </i>
        <br />
        <br />
        Hex, or hexadecimal is another number system but eight times larger then Binary. Being made up
        of sixteen symbols
        <i>(0:1:2:3:4:5:6:7:8:9:A:B:C:D:E:F:10:11:12:13:14:15:16:17:18:19:1A:1B:1C).</i>
        <br />
        <br />
        Ten-Based, if you can count, a numeral system you and everyone uses. Think of it like normal
        numbers and none of those ones and zeros
        <i>(1:2:3:4:5:6:7:8:9:10:11:12:13:14:15:16:17:18:19:20).</i> <br />
        <br />

        <b>
          The program can be found
          <a href = "https://glitch.com/~binary-hex-10-base"> here. </a>
        </b>
      </p>
      <br />

      <!-- QnA -->
      <p> <b> Q1. </b> "What is your program going to do?" </p>
      <blockquote>
        <b> A1. </b> Simply to display a table containing three number systems related to Computer
        Science. Rather simple really. Up to the equivalent of seventeen and nothing further.
      </blockquote>

      <p> <b> Q2. </b> What was the coding process like? </p>
      <blockquote>
        <b> A2. </b> I was working with another student when we were making this. There was some
        occasional hiccups I'd point out to my colleague mostly regarding formatting, data and
        structuring. Though it was extremely smooth and because of our synergy we finished early
        on-time with time to spare.
      </blockquote>

      <p> <b> Q3. </b> How did things go in general and what's your opinion/feelings? </p>
      <blockquote>
        <b> A3. </b> It was a nice refresher for the beginning of the school year, not at all intense
        if anything the opposite. However the energizing was beyond refreshing and has opened my eyes
        a bit more to consider collaboration in general. For the future, I can't really say much.
        Though if I were to do anything with it, it'd be cosmetic because right now the program looks
        awfully bland.
      </blockquote>

      <p> <b> Q4. </b> Future plans? </p>
      <blockquote>
        <b> A4. </b> I wanna spice up the look sometime. Maybe make it resemble the look of terminals
        or something, probably add some options for customization once I become experienced enough.
        And actually do the "pro-programmer" way. Once I learn how it'd even look/work I wanna be able
        to add a feature that'll allow you to be able to convert "regular old" numbers like 47 and get
        the equivalent to other number systems beyond just ten base, binary and hex. This naturally
        means I'd like to expand to other number systems eventually, if I ever learn how and have time
        for it.
      </blockquote>
    {% endblock %}
  </body>
</html>
