{% extends "../Entry.html" %}

<html>
  <head>
    <title> {% block title %} Entry 02{% endblock %} </title>
  </head>
  <body>
    {% block post %}
    <h2> Technological Innovations </h2>
    <h5> September 15th, 2019</h5>
    <!--- <img align="top" width = "950" height = "600" src=
       "https://cdn.glitch.com/09da7f12-a63f-40b7-96fc-c11f11027f60%2FThe%20Indexer.png?v=1569213168827" 
        alt="Test">   
      <h4 align= "center">  </h4> --->

    <!--- Project Information --->
    <p align="left"> <b> General Overview: </b></p>
    <p align="left">
      Our teacher had us pair in groups and read pre-selected articles on Technological Innovations.
      Self-driving Automobiles, Swarm Drones in Warfare, Pet Robots and Cryptocurrency and summarize
      what we read. Moments like these make me question what class I'm really in.</p
    >
    <p align="left">
      As required, I'm supposed to write a brief summary on two articles on my portfolio like almost
      everything else that seems a bit boring thats on my site.
    </p>

    <h5> The Attack of the Drones </h5>
    <p align="left">
      And it's not just the delivery companies using them, but it's the Military and the Recon, too.
      Probably the most dangerous Innovation on the pre-defined list. Swarm Drones are a new way on
      attacking the enemy. The idea is to gather as many drones as possible, (armed of course) and
      they basically swarm in large groups and absolutely invade the enemy base. The author also
      raised a very distrubing idea, that the super-powers around the world could start using swarm
      drones and building entire bombs in them. Effectively replicating Kamikaze Pilots like those
      in World War II.
      <br />
      <br />

      Imagine the number of casulties on the defending side, unless they have some sort of way to
      defend against swarm drones (maybe a EMP of some sort) the numbers could be catastrophic. They
    </p>

    <h5> Self-Driving Cars </h5>
    <p align="left">
      Self-explantory, self-driving cars are being tested by big companies like Google in a effort
      to eliminate human error in driving. Gone would the days be of drunk driving and recklessness.
    </p>
    {% endblock %}
  </body>
</html>
