{% extends "../Entry.html" %}

<html>
  <head>
    <title> {% block title %} Entry 03 {% endblock %} </title>
  </head>
  <body>
    {% block post %}
      <h2> Plastic Straw Bridge </h2>
      <h5> September 19th, 2019 </h5>
      <!-- <img  width = "950" height = "600" src=
        "https://cdn.glitch.com/09da7f12-a63f-40b7-96fc-c11f11027f60%2FThe%20Indexer.png?v=1569213168827" 
          alt = "Test">   
        <h4 align= "center">  </h4> -->

      <!-- Project Information 

  Straw Structure Essay - Simplified Prompts
  Paragraph on what you were 
  making.

  2.  Paragraph on a challenge or 
  problem encountered AND how you solved or handled it.  

  3.  ANOTHER paragraph on ANOTHER challenge or problem encountered AND how you solved or handled it.  

  -->
      <p><b> General Overview: </b></p>
      <p>
        We shall take a moment of silence, to remember all the unnecessary harmful plastic straws that
        was bought by our teacher that have made their way into the ocean and polluted our great
        waters. Rest in peace sea-life. Even though this is a "computer science class" our teacher had
        us make the longest straw bridge possible out of...plastic straws. The fact this even got
        approved is questionable, this has in my opinion little to do with actual coding. I guess this
        activity was planned to encourage teamwork and communication? Can't think of anything else.
      </p>
      <p>
        Anyways, we had to build a plastic straw bridge, I felt like I was working in a factory
        because I was doing complete tedious work, literally taking plastic straws, removing the
        wrapper and connecting straws together by pinching one end and pushing it into another. In a
        nutshell that was all this project really was about.
      </p>

      <!-- QnA -->
      <p><b> Q1. </b> What did you make?</p>
      <blockquote>
        <b> A1. </b> Plastic straw bridge, we must have used around 260 straws or something. Our
        bridge was six straws thick and...a lot of straws long.
      </blockquote>

      <p> <b> Q2. </b> What is one problem you ran into? How did you solve the problem? </p>
      <blockquote>
        <b> A2. </b> We had a lot of straws to go through, and it was quite tedious unwrapping every
        plastic straw in sight. Two colleagues found their own ways on mass-removing straw wrappers.
        One of them gathered around 12, hold the middle and push the bottom out so that the straws
        penerate the top piece of the wrapper. It wasn't a smooth one but it worked and saved us time.
        <br />
        <br />
        The other one was to gather around as you much as you can hold in one hand, grab a scissor or
        something sharp and start "shaving" the wrappers off. It was the best method I ever witnessed
        to mass-removing plastic straw wrappers.
      </blockquote>

      <p> <b> Q3. </b> What is one problem you ran into? How did you solve the problem? </p>
      <blockquote>
        <b> A3. </b> Can't...really think of one worth mentioning. Biggest problem I guess is how the
        teacher just contributed more to pollution with all the plastic straws he bought. I can't
        imagine how many plastic straws were wasted over the years...I'm pretty sure it's been eight
        and jeez... Eight years, of buying plastic straws for full three classes for full eight years
        that are divided into eight groups all using enough straws to rebuild the floor... think about
        the god damn turtles.
      </blockquote>
    {% endblock %}
  </body>
</html>
