{% extends "../Entry.html" %}

<html>
  <head>
    <title> {% block title %} Entry 04 {% endblock %} </title>
  </head>
  <body>
    {% block post %}
      <h2> Array Schedule </h2>
      <h5> September 23rd, 2019 </h5>
      <!-- <img  width = "950" height = "600" src=
        "https://cdn.glitch.com/09da7f12-a63f-40b7-96fc-c11f11027f60%2FBinary%20Hex%2010%20Based%20Table.png?v=1568518109590" 
          alt = "Number System">   -->
      <h4> </h4>

      <!-- Project Information -->
      <p> <b> General Overview: </b></p>
      <p>
        Another simple project that I kinda question the point to sometimes nonetheless...it was a
        Driver and Navigator format, as some of my readers know (hopefully lol) I had a a similar
        experience back to the "first" Entry:
        <a href = "Entry01"> Binary, Hex and Base 10 Table </a>. For this project we were told to do a
        Driver-Navigator approach to making a schedule made of a bunch of arrays. I feel like I've
        said this enough and likely will continue derailing myself about talking about how lackluster
        the lesson plan was. There was literally nothing to build on other then code which isn't
        really helpful especially those who want to expand further then the expected norm.
      </p>

      <p>
        <b>
          The program can be found
          <a href = "https://glitch.com/~binary-hex-10-base"> here. </a>
        </b>
      </p>

      <!-- QnA -->
      <p> <b> Q1. </b> "What is your program supposed to do?" </p>
      <blockquote>
        <b> A1. </b> Just to display your or your partner's schedule in processing, who schedule got
        replicated was based off who sat in what direction. If you sat on the left you automatically
        became the "Driver" and so naturally that'd mean your schedule would be replicated in
        processing code.
      </blockquote>

      <p> <b> Q2. </b> "How did the program work?" </p>
      <blockquote>
        <b> A2. </b> I had to work with another student when making this, we were doing the Driver -
        Navigation exercise throughout the coding process. In a nutshell we just copied and pasted
        bare-bone code that has been provided to us and modified some of the contents like the words
        and x and y values.
      </blockquote>

      <p> <b> Q3. </b> "What problems/challenges were discovered?" </p>
      <blockquote>
        <b> A3. </b> The only problem really was that I couldn't work on my own schedule, despite
        already having every non-repetitive action/obstacle dealt with it'd mean that I, the navigator
        should be able to work on my own project right along my partner. Despite all my work is just
        telling someone to copy and paste code, and to modify content and keep a consistent rule with
        x-values. I was approached and was forced to stop working on my own version of Array Schedule.
        Naturally meaning I have to do this by myself on my time. <br />
        <br />
        The only other thing is because of the obvious lack of instruction (there was only code,
        nothing else except bare-bone comments)
      </blockquote>

      <p> <b> Q4. </b> "How were the problems/challenges handled?"</p>
      <blockquote>
        <b> A4. </b> I wanna spice up the look sometime. Maybe make it resemble the look of terminals
        or something, probably add some options for customization once I become experienced enough.
        And actually do the "pro-programmer" way. Once I learn how it'd even look/work I wanna be able
        to add a feature that'll allow you to be able to convert "regular old" numbers like 47 and get
        the equivalent to other number systems beyond just ten base, binary and hex. This naturally
        means I'd like to expand to other number systems eventually, if I ever learn how and have time
        for it.
      </blockquote>
    {% endblock %}
  </body>
</html>
