{% extends "../Entry.html" %}

<html>
  <head>
    <title> {% block title %} Entry 05 {% endblock %} </title>
  </head>
  <body>
    {% block post %}
      <h2> Technological Innovations II </h2>
      <h5> September 24th, 2019 </h5>

      <!-- <img align = "" width = "950" height = "600" src = "https://cdn.glitch.com/09da7f12-a63f-40b7-96fc-c11f11027f60%2F1_K4v3T5GcJVDAxm3IOJ9mQw.jpeg.jpg?v=1569433749537" alt = "AR"  >    -->
      <!-- Project Information -->
      <p> <b> General Overview: </b></p>
      <p>
        We had an option to research from a select four choices of articles that all talk about
        different computer innovations. I had researched two "interesting" articles that has been laid
        out for me and my class. I chose Augmented Reality because I am very well interested in how AR
        will impact the future, and I chose Biometrics for the next article because I'm someone who's
        very concerned over Biometrics. And the potential for abuse and privacy issues.</p
      >
      <p> </p>

      <!-- QnA -->
      <p> <b> Q1. </b> Explain what's your first researched innovation is about </p>
      <blockquote>
        <b> A1. </b> In a nutshell, the article published by How Stuff Works and written by Kevin
        Bonsor & Nathan Chandler talks about the various aspects of Augmented Reality. A brief
        description of what it is, how it works, the development process of AR and the various
        industries/organizations that'd greatly benefit from Augmented Reality. As well as any cons of
        Augmented Reality, the biggest which is now that the digital world is connected to our world,
        people will not care as much about the real world anymore. They won't pay much attention to
        what's happening in front of them but rather more online.
      </blockquote>

      <p> <b> Q2. </b> Explain what your second researched innovation is about </p>
      <blockquote>
        <b> A2. </b> Biometrics is a innovation that could potentially switch up how security is done.
        The need for items like passwords and ID cards will certainly diminish once Biometrics really
        hit the markets. The article mostly talks about the nitty gritty of how Biometrics work, and
        how much of an impact it'd have on the market as will as potential drawbacks. Most obvious one
        is privacy.
      </blockquote>

      <p>
        <b> Q3. </b> What are some cultural/economical or society impacts this computer innovation will
        have?
      </p>
      <blockquote>
        <b> A3. </b> Well obviously Augmented Reality will have a huge impact to almost every Industry
        I can think of. <br />
        The Makeup Industry will be able to use AR and allow consumers to look over millions of
        different kinds of makeup to help come to a final decision when buying.<br />
        The Entertainment Industry will obviously benefit from something like this and already has,
        just take a look at the big success Pokemon Go had on the mobile game market. <br />
        Social while not necessarily a industry, everyone with a working smartphone will be able to
        use AR to eventually be able to simply point at a person and receive all their social media
        accounts, effectively their online presence and life story. <br />
      </blockquote>

      <details>
        <summary> Sources/Citations Used</summary> <br />
        <b> How Augmented Reality Works </b>
        <p> - by Kevin Bonsor and Nathan Chandler (How Stuff Works, Nov 11. 2005)</p>
        <p>
          <a href = "https://computer.howstuffworks.com/augmented-reality.htm">
            How Augmented Reality Works!
          </a></p
        >

        <b> How Biometrics Work </b>
        <p> - by Tracey V. Wilson (How Stuff Works, Feb 19. 2001)</p>
        <p>
          <a href = "https://science.howstuffworks.com/biometrics.htm">
            How Biometrics Work!
          </a></p
        >
      </details>
    {% endblock %}
  </body>
</html>
