{% extends "../Entry.html" %}

<html>
  <head>
    <title> {% block title %} Entry 06 {% endblock %} </title>
  </head>
  <body>
    {% block post %}
      <h2> "How a Computer is Set-up" </h2>
      <h5> September 27th 2019 </h5>
      <!-- <img  width = "950" height = "600" src=
        "https://cdn.glitch.com/09da7f12-a63f-40b7-96fc-c11f11027f60%2FThe%20Indexer.png?v=1569213168827" 
          alt = "Test">   
        <h4 align= "center">  </h4> -->

      <!-- Project Information -->
      <p> <b> General Overview: </b></p>
      <p>
        Bunin's frequent trouble-shooting problem that his students ask him is..."My computer isn't
        turning on!" "My screen's black." "I plugged the cables in and I turned on the monitor but
        nothing's happening!" So he had us "learn" how to set up a computer. By removing every cable
        in the computers in the school's lab and plugging them back in shortly after. I'll admit it
        was a bit more complicated then I thought though I only say that because the computers in the
        lab have these weird cables I've never seen before. <br />
        It's not like I"m new to setting up computers, I have one at home I use But jeez the cables
        were almost alien to me, there was this big cable, and a small cable and a round cable
        and...</p
      >
      <p>
        Anyways Bunin had us do "dismantle" a nearby computer and to later make a graphic detailing
        how that's set up. I figured a few stock images sticked on a .png wouldn't really be worth
        showing or even talking about so I'm taking this opportunity to take it was a stepping stone
        into 3D Modelling which is a skill I'm very well interested in. Almost more then coding, and
        likely once I get into it, way more then coding. <br />
        <br />

        The post with the 3D model isn't up as I'm currently doing other projects, as soon as that
        post is up hopefully I'll remember to update this page. If not, stay on the look-out.
      </p>
      <p> </p>
      <br />
    {% endblock %}
  </body>
</html>
