{% extends "../Entry.html" %}

<html>
  <head>
    <title> {% block title %} Entry 07 {% endblock %} </title>
  </head>
  <body>
    {% block post %}
    <h2> "Spaceship Adventure Processing" </h2>
    <h5> October 2nd 2019</h5>

    <!--- Project Information --->
    <p align="left"> <b> General Overview: </b></p>
    <p align="left"><br /> </p>
    <p align="left"> </p>
    <p> </p>
    <br />

    <!--- QnA --->
    <p> <b> Q1. </b> "What is your program going to do?" </p>
    <blockquote>
      <b> A1. </b> Bunin forced us to follow a pre-existing sketch of a total of ten steps. Going
      over how to make a simple spaceship, shape by shape. My program is simply to render that
      pre-existing sketch in my own written code.
    </blockquote>

    <p> <b> Q2. </b> How was the program supposed to work? </p>
    <blockquote>
      <b> A2. </b> With the standard processing javascript file with the program written in strictly
      processing. Simply load up the page and there you go, a <s> crappy </s> spaceship sketch.
    </blockquote>

    <p>
      <b> Q3. </b> What is one programming problem you ran into? How did you solve the problem?
    </p>
    <blockquote>
      <b> A3. </b> The biggest one would have to be of having to "restart" because Bunin didn't want
      us doing a spaceship, he wanted us to replicate his entire sketch and not doing anything
      creative or innovative beyond replicating what you see. The instructions weren't clear so by
      the time we finished doing the sketch, and found out about the honestly kinda dumb replicating
      the entire pre-existing sketch, the class was almost already over with only twenty minutes to
      spare. Ten for the entry-writing of course. The only obvious solution is to work at home.
    </blockquote>

    <p>
      <b> Q4. </b> make sure to show a ascreen of what you were doing and explain what it does
    </p>
    <blockquote>
      <b> A4. </b> Nothing special or worth writing home about at least not yet, the project is
      going to be constantly evolving.
    </blockquote>
    {% endblock %}
  </body>
</html>
