{% extends "../Entry.html" %}

<html>
  <head>
    <title> {% block title %} Entry 08 {% endblock %} </title>
  </head>
  <body>
    {% block post %}
    <h2> Scratch: "Arrow Robot on Grid"</h2>
    <h5> October 15th, 2019</h5>

    <!--- Project Information --->
    <p align="left"> <b> General Overview: </b></p>
    <p align="left">
      Quick Pair Programming excercise, this time we had to make a program that'll be able to solve
      mazes. There were different levels to this, and each level can be accessed through different
      means. <br />
      <br />

      Green Flag Button (Default) - "Apprentice Level" <br />
      Space Button - "Pracitioner Level" <br />
      Up Button - "Professoinal Level"
    </p>

    <iframe
      src="https://scratch.mit.edu/projects/336563421/embed"
      allowtransparency="true"
      width="485"
      height="402"
      frameborder="0"
      scrolling="no"
      allowfullscreen
    ></iframe>
    <b>
      <> The program can be found here incase the embedded code doesn't come out for whatever
      reason... <a href="https://scratch.mit.edu/projects/336563421"> here. </a>
    </b>
    <br />

    <!--- QnA --->
    <p> <b> Q1. </b> "Where did the Apprentice program's robot end up and why?" </p>
    <blockquote>
      <b> A1. </b>
    </blockquote>

    <p>
      <b> Q2. </b> "How did having the "forward" block as a procedure to call help organize the
      complexity of the programmer"?
    </p>
    <blockquote>
      <b> A2. </b>
    </blockquote>

    <p> <b> Q3. </b> "What is a heuristic program and who did yours work"? </p>
    <blockquote>
      <b> A3. </b>
    </blockquote>
    {% endblock %}
  </body>
</html>
