{% extends "../Entry.html" %}

<html>
  <head>
    <title> {% block title %} Entry ## {% endblock %} </title>
  </head>
  <body>
    {% block post %}
    <h2> Something cool </h2>
    <h5> 1968</h5>
    <h4 align="center">
      CONTENT
    </h4>

    <!--- Project Information --->
    <p align="left"> <b> General Overview: </b> </p>
    <p align="left"> Radical RadicalT </p>
    <br />
    <!--- QnA --->
    <p> <b> Q1. </b> QUESTION </p>
    <blockquote> Hello ThsfeNT </blockquote>
    {% endblock %}
  </body>
</html>
