{% extends "../Entry.html" %}

<html>
  <head>
    <title>{% block title %} Entry ## {% endblock %}</title>
  </head>
  <body>
    {% block post %}
    <h2> Brainstorming App Ideas</h2>
    <h5> October 29th 2019</h5>

    <!--- Project Information --->
    <p align="left"><b> General Overview: </b></p>
    <p align="left"> As part of an assignment, we need to come up with at least a hundred ideas surrounding software and what to make. This ranged from raising awareness to world-problems and things like teaching
    undocumented immigrants how to become a citizen in a select country to questionable things like stealing netflix accounts "app". I came up with about twenty that I care about and can realisitically achieve, \
    some more achieveable then others. My top three main ideas that I'd most likely do is Binary Conversion, an offline Music-Player app and a Quote Generator. Though there are still other things I'd like to do
    like a note-taking application designed for my specifications, a reminder app, a interactive scheduler, web development tutorials, a .swf updater etc. </p>
    
     <br>
    
    <!--- QnA --->
    <p><b> Idea #1 </b> Binary Conversion  </p>
    <blockquote> While really serving no real intended purpose other then to convert Binary to Ten-base and vice versa, I wanted to do this since I struggled intially at thinking on approaching the problem when
    Binary Conversion was assigned to me. Now that I have learned Javascript and jQuery and overall gained a far better understanding/mastery over HTML and CSS. I was thinking of making a application that'd convert
    Binary to Tenbase and maybe Hex if I can. I already have an idea of how the code would look like but I just need to apply it. I thought this would be excellent in terms of getting personal with jQuery & Javascript.
    I know the two are basically the same but I wanted to mix 'em up together to get a more completed understanding of how both work and how well they translate if that makes any sense.</blockquote>
    
    <p><b> Idea #2 </b> Offline Music-Player App </p>
    <blockquote> I never really liked any of the offline-music players available on the Play Store and there was always this one major turn-off of every music-player app I check out. Some have offline ads surprisingly, 
    others have bad design, others lack proper functionality. Some can't edit the metainfo of .mp3 files, etc. So I thought why not make my own? While I do already have an idea and layout of how it'd go down. I'm just 
    not experienced enough for something this big, much less in like a week so while I likely won't do it for my upcoming assignment, it is something I want to do someday. </blockquote>
    
    <p><b> Idea #3 </b> Quote Generator App </p>
    <blockquote> The most likely one that I'll do. Is simply using Javascript to call on arrays to write a quote on the screen that I am fond of in any way. Extremely basic and this was gonna tie in with my Home-One project
    that really is just this website in it's own way. It is the most practical, time-efficent and still taps into my knowledge of Javascript which, after completeing a several lessons on sololearn, a language I really want 
    to tap into. And make it "my own" and becoming extremely knowledgeable with Javascript as much or even more then I am with HTML. </blockquote>
    {% endblock %}
  </body>
</html>

