{% extends "../Entry.html" %}

<html>
  <head>
    <title> {% block title %} Entry ## {% endblock %} </title>
  </head>
  <body>
    {% block post %}
    <h2> TITLE </h2>
    <h5> DATE </h5>
    <!-- <img
      align="top"
      width="950"
      height="600"
      src="https://cdn.glitch.com/09da7f12-a63f-40b7-96fc-c11f11027f60%2FThe%20Indexer.png?v = 1569213168827"
      alt="Test"
    /> -->
    <h4 align="center">
      CONTENT
    </h4>

    <!--- Project Information --->
    <p align="left"> <b> General Overview: </b> </p>
    <p align="left"> MORE CONTENT </p>
    <br />
    <!--- QnA --->
    <p> <b> Q1. </b> QUESTION </p>
    <blockquote> EVEN MORE CONTENT </blockquote>
    {% endblock %}
  </body>
</html>
