{% extends "../default.html" %}

<html>
  <head>
    <title> {% block title %} Home {% endblock %} </title>

    {% block head %}
    <link rel="stylesheet" href="/css/CoreHomeStyle.css" />
    {% endblock %}
  </head>
  <body>
    {% block content %}
    
<div class="container"> 
  <div class="mySlides">
    <img src="https://cdn.glitch.com/09da7f12-a63f-40b7-96fc-c11f11027f60%2FBlue-calm-hd-wallpaper.jpg?v=1571409912055" style="width:100%">
  </div>
  <div class="mySlides">
    <img src="https://cdn.glitch.com/09da7f12-a63f-40b7-96fc-c11f11027f60%2Flake_sunset_horizon_120304_1920x1080.jpg?v=1571409907884" style="width:100%">
  </div>
  <div class="mySlides">
    <img src="https://cdn.glitch.com/09da7f12-a63f-40b7-96fc-c11f11027f60%2Fcalifornia-sunset-hd-wallpaper-by-ethan-dow-iltwmt.jpg?v=1571409905340" style="width:100%">
  </div>
  <div class="mySlides">
    <img src="https://cdn.glitch.com/09da7f12-a63f-40b7-96fc-c11f11027f60%2F697142714.jpg?v=1571409899619" style="width:100%">
  </div>
  <div class="mySlides">
    <img src="https://cdn.glitch.com/09da7f12-a63f-40b7-96fc-c11f11027f60%2F3840x2160-stars-4k-hd-wallpaper-computer-desktop-wallpapers-in-fantastic-antique-10.jpg?v=1571409897367" style="width:100%">
  </div>
  <div class="mySlides">
    <img src="https://cdn.glitch.com/09da7f12-a63f-40b7-96fc-c11f11027f60%2F300068.jpg?v=1571409892472" style="width:100%">
  </div>
</div> 
    
    <div class="card">
      <h2> <a href="/Subcore/JournalBlog.html"> Blog </a> </h2>
      <h5> </h5>
      <p>
        You're looking at it. This website is what I'm working towards perfecting or at least close
        enough to perfecting. I have so many ideas I wanna make I'm planning on even buying a proper
      </p>
      domain name for this eventually once I'm on my own two feet eventually. It's the kind of
      project that hooks me on because of the endless possibilities. I'm extremely ambitious on this
      one and <p> I'm hoping to have this project grow as I grow. </p>
    </div>
    <button class="collapsible">Open Epicness</button>
    <div class="content">
      <h5> August 8th, 2008</h5>
      <p>
        You're he looking at it. This website is what I'm working towards perfecting or at least
        close enough to perfecting. I have so many ideas I wanna make I'm planning on even buying a
        proper
      </p>
      domain name for this eventually once I'm on my own two feet eventually. It's the kind of
      project that hooks me on because of the endless possiblities. I'm extremely ambitous on this
      one and <p> I'm hoping to have this project grow as I grow. </p>
    </div>

    <br />
    <br />
    <div class="card">
      <h2> <a href="/Subcore/JournalBlog.html"> Latest </a> </h2>
      <h5> August 8th, 2008</h5>
      <p>
        You're looking at it. This website is what I'm working towards perfecting or at least close
        enough to perfecting. I have so many ideas I wanna make I'm planning on even buying a proper
        domain name for this eventually once I'm on my own two feet eventually. It's the kind of
        project that hooks me on because of the endless possibilities. I'm extremely ambitous on
        this one and I'm hoping to have this project grow as I grow.
      </p>
    </div>
    <br />
    <hr size="3" /> <br />
    <!--- With each HR tag Im hoping to add a expand section that'll open up two more cards --->
    <div class="card">
      <h2> <a href="/Entry/00.html"> Favorites </a> </h2>
      <h5> September 17th, 2019</h5>
      <p>
        You're looking at it. This website is what I'm working towards perfecting or at least close
        enough to perfecting. I have so many ideas I wanna make I'm planning on even buying a proper
        domain name for this eventually once I'm on my own two feet eventually. It's the kind of
        project that hooks me on because of the endless possiblities. I'm extremely ambitous on this
        one and I'm hoping to have this project grow as I grow.
      </p>
    </div>
    <br />
    <hr size="3" /> <br />
    <!--- With each HR tag Im hoping to add a expand section that'll open up two more cards --->
    <div class="card">
      <h2> <a href="/Entry/00.html"> Big </a> </h2>
      <h5> September 17th, 2019 </h5>
      <p>
        You're looking at it. This website is what I'm working towards perfecting or at least close
        enough to perfecting. I have so many ideas I wanna make I'm planning on even buying a proper
        domain name for this eventually once I'm on my own two feet eventually. It's the kind of
        project that hooks me on because of the endless possibilities. I'm extremely ambitious on
        this one and I'm hoping to have this project grow as I grow.
      </p>
    </div>
    <script>
 /* W3School's Slideshow Javascript Code (i.e NOT MINES) */
var slideIndex = 0;
showSlides();

function showSlides() {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1}
  slides[slideIndex-1].style.display = "block";
  setTimeout(showSlides, 2000); // <--- Changes interval 
}

      var coll = document.getElementsByClassName("collapsible");
      var i;

      for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
          this.classList.toggle("active");
          var content = this.nextElementSibling;
          if (content.style.maxHeight) {
            content.style.maxHeight = null;
          } else {
            content.style.maxHeight = content.scrollHeight + "px";
          }
        });
      }
    </script>
    {% endblock %}
  </body>
</html>
